# Saving Data

- 03-data_preprocessing steps are there but we encoded and scaled and then store which is not desireable in Pipeline and optimized for decoding and encoding again.
- Here we will be correcting the flow

# Importing Libraries

In [15]:
import pandas as pd
import numpy as np

# Importing Dataset and dropping features

In [16]:
dataset = pd.read_csv("./../data/Cleaned_Dataset.csv")
dataset.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,Bejaia
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,Bejaia
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,Bejaia
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,Bejaia
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,Bejaia

In [17]:
df = dataset.drop(["year", "BUI", "FWI"], axis=1)
df.head()

,day,month,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,Classes,Region
0,1,6,29,57,18,0.0,65.7,3.4,7.6,1.3,not fire,Bejaia
1,2,6,29,61,13,1.3,64.4,4.1,7.6,1.0,not fire,Bejaia
2,3,6,26,82,22,13.1,47.1,2.5,7.1,0.3,not fire,Bejaia
3,4,6,25,89,13,2.5,28.6,1.3,6.9,0.0,not fire,Bejaia
4,5,6,27,77,16,0.0,64.8,3.0,14.2,1.2,not fire,Bejaia

In [18]:
df["month"] = pd.to_datetime(df["month"], format="%m").dt.strftime("%b")
df.head()

,day,month,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,Classes,Region
0,1,Jun,29,57,18,0.0,65.7,3.4,7.6,1.3,not fire,Bejaia
1,2,Jun,29,61,13,1.3,64.4,4.1,7.6,1.0,not fire,Bejaia
2,3,Jun,26,82,22,13.1,47.1,2.5,7.1,0.3,not fire,Bejaia
3,4,Jun,25,89,13,2.5,28.6,1.3,6.9,0.0,not fire,Bejaia
4,5,Jun,27,77,16,0.0,64.8,3.0,14.2,1.2,not fire,Bejaia

# Target & Feature dataset

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
def pd2csv(*args, file_name):
    pd.concat(args, axis=1).to_csv(f"./../data/final_data/{file_name}.csv",index=False)
    return f"{file_name} saved at ./../data/final_data"

## Classification Data

In [21]:
X_class_data = df.drop(["Classes"], axis=1)
y_class_data = df["Classes"]

In [22]:
X_class_train, X_class_test, y_class_train, y_class_test = train_test_split(
    X_class_data, y_class_data, random_state=64, test_size=0.2
)

In [23]:
pd2csv(X_class_train, y_class_train, file_name="classification_train")

'classification_train saved at ./../data/final_data'

In [24]:
pd2csv(X_class_test, y_class_test, file_name="classification_test")

'classification_test saved at ./../data/final_data'

## Regression Data

In [25]:
X_reg_data = df.drop(["Temperature"], axis=1)
y_reg_data = df["Temperature"]

In [26]:
X_reg_train, X_reg_test, y_reg_train, y_reg_test = train_test_split(
    X_reg_data, y_reg_data, random_state=64, test_size=0.2
)

In [27]:
pd2csv(X_reg_train, y_reg_train, file_name="regression_train")

'regression_train saved at ./../data/final_data'

In [28]:
pd2csv(X_reg_test, y_reg_test, file_name="regression_test")

'regression_test saved at ./../data/final_data'

CONCLUSION

- robust scaler on numeric data.
- ordinal encoder on `month`.
- one hot encoder on `day`.
- one hot encoder (`if_binary`) on `region` & `Classes` (in case of regression).
- label encoder on `Classes` (in case of classification).